.header {
  border-bottom: 1px solid #e5e5e5;
}

.header__container {
  padding: 20px;
}

.header__logoLink {
  font-size: 1.5rem;
  font-weight: 600;
  text-decoration: none;
}

.header__logoBlack {
  color: #000;
}

.header__logoOrange {
  color: #FF6600;
}