.tool {
  margin-block-end: 30px;
  
  
  border: 1px solid #e5e5e5;
  border-radius: 5px;
}

.tool__title {
  margin: 0;
  padding: 10px 15px;

  font-size: 1.25rem;
  
  background: #EDEEF0;
  border-bottom: 1px solid #e5e5e5;
}

.tool__content {
  padding: 15px;
}

.tool__label {
  margin: 0 0 5px;
}

.tool__textarea {
  display: block;
  width: 100%;
  min-height: 150px;
  margin-bottom: 20px;
}