.toolsGroup {
  border: 1px solid #e5e5e5;
  border-radius: 5px;
}

.toolsGroup__title {
  margin: 0;
  padding: 10px 15px;

  font-size: 1.25rem;
  
  background: #EDEEF0;
  border-bottom: 1px solid #e5e5e5;
}

.toolsGroup__content {
  padding: 15px;
}

.converter__label {
  margin: 0 0 5px;
}